<h1>Test Refresh</h1>

<dl>
  <dt>Old Access Token</dt>
  <dd><%= @old_tokens[ :access_token ] %></dd>
  <dt>Old Refresh Token</dt>
  <dd><%= @old_tokens[ :refresh_token ] %></dd>
  <dt>New Access Token</dt>
  <dd><%= @new_tokens[ :access_token ] %></dd>
  <dt>New Refresh Token</dt>
  <dd><%= @new_tokens[ :refresh_token ] %></dd>
</dl>
